@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@400;700&display=swap');

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: 'Almarai', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Almarai', sans-serif;
}

.App {
  display: flex;
  justify-content: center;
}
